.quality_List{
	.flex{
		display: flex;
	}
	.flexCenter{
		display: flex;
		align-items: center;
	}
	.flexCenterWrap{
		display: flex;
		flex-wrap: wrap;
	}
	.displayNone{
		display: none;
	}
	.color7E{
		color:#7E7E7E;
	}
	.marginTRight{
		margin-right: 15px;
	}
	.marginTRight2{margin-bottom: 10px;}
	.title{
		width: 100%;
		padding-bottom: 10px;
		border-bottom: 1px solid #CFCFCF;
	}
	.searchEle{
		background: #F1F2F1;
		padding: 15px 0;
		margin: 5px 0;
		justify-content:space-between;
	}
	.optbtn{
		margin: 10px 0;
		float: right;
	}
	.optbtn button:first-child{
		margin-right: 15px;
	}
	
	/* 修改检验人 */
	.editInspector{
		line-height: 34px;
	}
	.taskEle{width: 50%;}
	.inspectorChance{
		width: 100%;
		height: 100px;
		border: 1px solid #D0D0CF;
		padding: 10px;
	}
	.inspectorChance .inspector{
		padding: 0 10px;
		width: auto;
		height: 30px;
		border: 1px solid;
		margin-right: 10px;
	}
	.inspectorOpt{
		width: 24px;
		height: 24px;
		border-radius: 50%;
		text-align: center;
		line-height: 20px;
		font-size: 20px;
		border: 1px solid #505050;
		cursor: pointer;
		color: #505050;
	}
	//质检详情
	.quantityDetail{
		width: 100%;
		height: 300px;
		margin: 10px auto 0;
		border-radius: 4px;
		border: 1px solid #CBCBCB;
	}
}

.add-mask{
	.ant-modal-content{
		background: linear-gradient(135deg, #FFFFFF 0%, rgba(255, 255, 255, 0.9) 100%);
		box-shadow: 0 0.36rem 0.36rem 0 rgba(183, 183, 241, 0.1);
		border-radius: 0.4rem;
		.ant-modal-close{
			top: .05rem;
			right: .05rem;
			.ant-modal-close-x{
				font-size: .25rem;
			}
		}
	}
	.ant-modal-header{
		padding: .43rem 0 .36rem;
		background: transparent;
		border-bottom: none;
		.ant-modal-title{
			font-size: 0.3rem;
			font-weight: 600;
			color: #333951;
			text-align: center;
		}
	}
	.ant-modal-footer{
		padding: .1rem 0 .5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border-top: none;
		.ant-btn{
			padding: .2rem .5rem;
			border-radius: 0.39rem;
			border: none;
			height: auto;
			font-size: 0.24rem;
			font-weight: 600;
			background: #D9D9E2;
			color: #353B53!important;
		}
		button:last-of-type{
			background: #6C6CE5;
			color: #fff!important;
			margin-left: .5rem!important;
		}
	}
  }
