@import '~antd/dist/antd.less';
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// common style
.shadow {
  box-shadow: 0 .36rem .36rem 0 rgba(183, 183, 241, 0.1);
}

.Tab_link a {
  margin-right: 10px;
  font-size: 18px;
  color: blue;
}

h3 {
  margin-top: 70px;
  margin-left: 30px;
  margin-bottom: 30px;
  font-size: 38px;
  color: green;
}
.Tab_link div{
  margin-left: 30px;
  margin-bottom: 30px;
  font-size: 18px;
}

body,html{
  background: #EDEDF5!important;
  line-height: 100%;
}
.bg-fff{
  background: linear-gradient(135deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%);
  backdrop-filter: blur(0.3rem);
  border-radius: 0.4rem;
}
.common-title{
  font-size: .24rem;
  line-height: 0.33rem;
  font-weight: 600;
  color: #333951;
}
.common-btn-bg{
  background: #6C6CE5!important;
  border-radius: .39rem!important;
  font-size: .22rem!important;
  border: none;
  padding: 0 .15rem!important;
  height: 0.63rem!important;
  span{
    color: #FFFFFF!important;
  }
}
.container{
  padding: 0 0.42rem 0 0.5rem;
  h1,h2,h3,h4,h5,h6,p,span{
    margin: 0;
  }
  ol, ul, dl{
    margin-bottom: 0;
  }
  .clearfix:after{
    display:block;
    content:"";
    clear:both;
  }
  .clearfix{
    zoom:1;
  }
  .fl{
    float:left;
  }
  .fr{
    float:right;
  }
  .flex{
    display: flex;
    align-items: center;
  }
  .flex-start{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .flex-end{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-around{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .round-triangle{
    position: absolute;
    right: 0;
    top: 0;
    .bd{
      display: block;
      width: 0.25rem;
      height: 0.25rem;
      background: #FF4B4B;
      border-top-right-radius: 30%;
      border-bottom-left-radius:30%;
    }
    .bd:before, .bd:after{
      content:"";
      width: 0.25rem;
      height: 0.25rem;
      background: #FF4B4B;
      position: absolute;
      border-top-right-radius:30% ;
    }
    /* 设置旋转、缩放、倾斜和平移让两个伪元素边缘与上面图形边缘重合 */
    .bd:before{
      transform:rotate(-135deg) skewX(-45deg) scale(1.43,0.7) translate(0,-50%);
      //border-top-right-radius: 30%;
    }
    .bd:after{
      transform:rotate(135deg) skewY(-45deg) scale(0.7,1.4) translate(50%,0);
      //border-top-left-radius: 30%;
    }
  }

  .cyan{
    color: #24B5D0!important;
  }
  .red{
    color: #FF4B4B!important;
  }
}
//面包屑
.crumbHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .ant-breadcrumb {
    .ant-breadcrumb-separator {
      font-size: 0.19rem;
      margin: 0 0.2rem;
    }

    .ant-breadcrumb-link {
      font-size: 0.24rem;
      font-weight: 400;
      color: #9598A8;
      line-height: 0.33rem;
    }
  }

  .optBtn{
    display: flex;
    align-items: center;
    .title {
      font-size: 0.2rem;
      font-weight: 600;
      color: #333951;
      line-height: 0.28rem;
      cursor: pointer;
    }

    img {
      width: 0.21rem;
      height: 0.24rem;
      margin-left: 0.11rem;
    }
  }

}

// table
.tags-type-box {
  .ant-tag {
    font-size: 0.15rem;
    font-weight: 600;
    color: #333951 !important;
    padding: .1rem .15rem;
    border-radius: 0.21rem;
    border: 0.01rem solid rgba(0, 0, 0, 0.1);
    margin: .15rem;
  }

  .ant-tag-checkable-checked {
    color: #FFFFFF !important;
    background: #333951;
    box-shadow: 0 0 0.15rem 0 rgba(0, 0, 0, 0.05);
    border-radius: 0.21rem;
  }
}
.table-no-header {
  margin-top: .64rem;

  .ant-table {
    background: transparent;
    box-shadow: 0 0.36rem 0.36rem 0 rgba(183, 183, 241, 0.1);
    border-radius: 0.4rem;

    table {
      border-collapse: separate;
      border-spacing: 0 .11rem;
    }
  }

  .ant-table-thead {
    display: none;
  }

  .ant-table-tbody {
    tr {
      box-shadow: 0 .36rem .36rem 0 rgba(183, 183, 241, 0.1);

      td {
        padding: .42rem 0;
        background: linear-gradient(135deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%);
        border-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0.01 0.01;
      }

      td:first-of-type {
        border-radius: .4rem 0 0 .4rem;
      }

      td:last-of-type {
        border: none;
        border-radius: 0 .4rem .4rem 0;
      }

      span {
        font-size: .2rem;
        color: #9598A8;
        display: block;
      }

      strong {
        font-size: .22rem;
        color: #333951;
        font-weight: 600;
      }

      .cyan {
        color: #24B5D0;
      }

      .purple {
        color: #625EE4;
      }

      .red {
        color: #FF4B4B;
      }
    }
  }

  .common-btn-bg {
    width: .76rem;
    height: .54rem;
  }
}
.common-long-table{
  background: linear-gradient(135deg, #FFFFFF 0%, rgba(255, 255, 255, 0.3) 100%);
  box-shadow: 0 0.18rem 0.5rem 0 rgba(86, 40, 235, 0.06);
  border-radius: 0.4rem;
  padding: .4rem .3rem .3rem;
  margin-bottom: .4rem;
  .ant-table{
    background: transparent;
  }
  .ant-table-thead{
    th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before{
      display: none;
    }
    th{
      background: #fff;
      border-top: 0.01rem solid #D9D9E2;
      border-bottom: 0.01rem solid #D9D9E2;
      font-size: 0.2rem;
      font-weight: 600;
      color: #9598A8;
      line-height: 0.28rem;
      text-shadow: 0 0 .01rem rgba(86, 40, 235, 0.06);
    }
    th:first-of-type{
      border-left: .01rem solid #D9D9E2;
      border-radius: .33rem 0 0 .33rem!important;
    }
    th:last-of-type{
      border-right: .01rem solid #D9D9E2;
      border-radius: 0 .33rem .33rem 0!important;
    }
  }
  .ant-table-tbody{
    td{
      border-bottom: 0.01rem solid #D9D9E2;
      font-size: 0.22rem;
      color: #333951;
      line-height: 0.3rem;
      text-shadow: 0 0 .01rem rgba(86, 40, 235, 0.06);
    }
  }
}

// loading
.loading-mask{
  width: auto!important;
  .ant-modal-content{
    background: #fff!important;
  }
  .ant-modal-body{
    padding: 0;
  }
  .loading{
    img{
      width: 4rem;
      height: 3rem;
      //border-radius: .3rem;
    }
  }
  .ant-modal-footer,.ant-modal-close{
    display: none!important;
  }
}
// 公共弹窗
.add-mask,.common-mask{
  .ant-modal-content {
    background: linear-gradient(135deg, #FFFFFF 0%, rgba(255, 255, 255, 0.9) 100%);
    box-shadow: 0 0.36rem 0.36rem 0 rgba(183, 183, 241, 0.1);
    border-radius: 0.4rem;

    .ant-modal-close {
      top: .05rem;
      right: .05rem;

      .ant-modal-close-x {
        font-size: .25rem;
      }
    }
  }

  .ant-modal-header {
    padding: .43rem 0 .36rem;
    background: transparent;
    border-bottom: none;

    .ant-modal-title {
      font-size: 0.3rem;
      font-weight: 600;
      color: #333951;
      text-align: left;
    }
  }

  .ant-modal-footer {
    padding: .1rem 0 .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: none;

    .ant-btn {
      padding: .2rem .5rem;
      border-radius: 0.39rem;
      border: none;
      height: auto;
      font-size: 0.24rem;
      font-weight: 600;
      background: #D9D9E2;
      color: #353B53 !important;
    }

    button:nth-of-type(2) {
      background: #6C6CE5;
      color: #fff !important;
      margin: 0 .25rem!important;
    }
  }
}
.common-mask{
  .ant-modal-content{
    padding: .3rem;
  }
  .ant-modal-header{
    padding: 0;
    .ant-modal-title{
      font-size: 0.24rem;
      margin-bottom: .3rem;
    }
  }
  .ant-modal-body{
    padding: 0;
  }
  .ant-modal-footer{
    padding: 0;
    .none-btn{
      display: none;
    }
  }
  .score-mask-container{
    .name{
      font-size: 0.24rem;
      font-weight: 600;
      color: #333951;
    }
    .list{
      .stars{
        display: flex;
        margin-top: .2rem;
        .title{
          display: block;
          font-size: 0.2rem;
          font-weight: 600;
          color: #9598A8;
          width: .82rem;
          margin-right: .1rem;
        }
      }
    }
  }
}
